body{
    margin: 0;
}
h1{
    font-size: 40px;
}
.logo{
    background-color:azure ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
.Lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 17px; 
    margin: 10px;
}
.Lista1{
     background-color:blue ;
     width: 100px;
}
.Principal{
    background-color:aqua ;
    width: 884px; border: solid 2px rgb(0, 0, 0);
    height: 200px;
    text-align: center;
}
.Tudo{
    display: flex;
}
.Menu{
    background-color:rgb(60, 185, 29);
    height: 1400px;
    width: 300px;

}

   
