body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 40px;
}
.logo{
    background-color:rgb(20, 104, 199) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
.Lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 17px; 
    margin: 10px;
}
.Lista1{
     background-color:blue ;
     width: 100px;
}
.Principal{
    background-color:white;
    text-align: center;
    width: 4000px;
}
.Tudo{
    display: flex;
}
.Menu{
    background-color:rgb(60, 185, 29);
    height: 1400px;
    width: 300px;

}

   
